/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Orbitron:wght@400..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Big Shoulders", sans-serif;
  --secondary-font: "Orbitron", cursive;
  --primary-color: #ebebeb;
  --secondary-color: #aa9581;
  --highlight-color: #416a8e;
  --highlight-color-light: #7a9fc2;
}

/* Global styles */

body {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 2rem;
}

/* Navbar */

#navbar {
  background-color: red;
  box-shadow: 0px 4px 10px black; /* Shadow on bottom */
}

#navbar .container {
  border: none;
}

.logo {
  height: 50px;
}

a.nav-link {
  font-family: var(--primary-font);
}

/* Hero Section */
#hero-home {
  height: 600px;
  width: 100%;
  background: url("../images/Lamborghini-Aventador-Roadster-TA.webp") no-repeat
    center center/cover;
  background-color: rgba(158, 26, 26, 0.5);
  background-blend-mode: overlay;
}

#hero-gallery {
  height: 600px;
  width: 100%;
  background: url("../images/maserati.jpg") no-repeat center center/cover;
  background-color: rgba(158, 26, 26, 0.5);
  background-blend-mode: overlay;
}

.container1 {
  text-align: center;
  border: none;
  padding: 2.5rem;
}

/* Footer / contact */
#contact {
  background-color: red;
  color: white;
  box-shadow: 0px -4px 10px black; /* Shadow on top */
}

table {
  background-color: transparent;
}

#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: black;
}

/* grid visualisation CSS for testing */

/* .container,
.row {
  border: 2px solid black;
}

.col-12 {
  border: 2px solid white;
  background-color: lightgray;
} */
